.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: .05rem solid #fff;
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}
img {
  margin: 5px;
  width: 85px;
  height: 85px;
  object-fit: cover;
}
.image-list{
  display: flex;
 justify-content: center;
  flex-wrap: wrap;
}
abbr {
  cursor: pointer;
}
progressbar {
  margin: 0 auto;
  padding: 0;
  max-height: 5px;
  max-width: 85px;

}
.popup {
  color: white;

}
.popup a {
  margin: 20px;
}


