.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: .05rem solid #fff;
}
.cover {
  margin-top: 4.75em;

}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}
img {
  padding: 0;
  margin: 5px;
  width: 85px;
  height: 85px;
  object-fit: cover;

}
abbr {
  cursor: pointer;
}

.area {

  margin: 2em;
  border: 1px solid #333;

}
#dropZone {
  border: 2px dashed #bbb;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 50px;
  text-align: center;

  color: #bbb;
}

