.container__drop {

}

.cover {
  margin-top: 4.75em;

}
.drop-zone {
  display: block;
  margin: 0 auto;
  width: 100%;
  border: 2px dashed #bbb;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  text-align: center;
  color: #bbb;
}
