.container__drop {

}

.cover {
  margin-top: 4.75em;

}
.drop-zone {
  display: block;
  margin: 0 auto;
  width: 100%;
  border: 2px dashed #bbb;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  text-align: center;
  color: #bbb;
}
button {
  background: none;
  border: 0 !important;
  font-size: 85px;
  color: white;
}

@media only screen and (max-width: 767px) {
  .cover {
    margin: 0;

  }
}
